
      .calendar {
          border: 1px solid #ccc;
          padding: 15px;
          background-color: #fff;
          width: 100%; /* 设置日历宽度 */
          text-align: center; /* 文字居中 */
          margin-bottom: 20px;
      }

      .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
      }

      .header h2 {
          margin: 0;
          font-size: 1.2em; /* 字体大小 */
          flex: 1; /* 让标题自适应空间 */
      }

      .grid {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 5px; /* 网格间距 */
          cursor: default;
          transition: opacity 0.3s ease; 
      }

      .day {
          padding: 5px;
          background-color: #e0e0e0;
          border-radius: 4px;
          font-size: 0.9em; /* 字体大小 */
          transition: background-color 0.3s; /* 鼠标悬停过渡效果 */
      }

      .day:hover {
          background-color: #d0d0d0; /* 鼠标悬停效果 */
          color: #1168ac;
      }

      .today {
          background-color: #1168ac; /* 今天的日期高亮 */
          font-weight: bold; /* 加粗显示 */
          color: white;
      }

      button {
          background-color: transparent; /* 按钮透明 */
          border: none; /* 无边框 */
          cursor: pointer; /* 手形光标 */
          font-size: 1.2em; /* 字体大小 */
      }

      button:hover {
          color: black; /* 悬停效果 */
          background-color: #1168ac!important;
          transition: all .3s;
      }
      .fade-out {
        opacity: 0; /* 过渡到透明 */
    }